In [9]:
# Importing Necessary modules

import sklearn
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
import random

In [10]:
# Loading the data

df=pd.read_csv(r"C:\Users\DELL\Documents\iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [11]:
df.drop(['variety'],axis=1,inplace=True)

In [12]:
df

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [13]:
# Creating Kmeans class

class Kmeans:
    # initializing the value of k
    def __init__(self,n=3):
        self.n=n
    
    # implementing eucledian distance
    def distance(self,x,x1):
        a=sum([(x[i]-x1[i])**2 for i in range(len(x))])
        return a**0.5
    
    # training the model
    def fit(self,x):
        self.best_labels=None
        self.best={}
        var=float('inf')
        for i in range(10):
            self.labels=[None]*x.shape[0]
            d={}
            for i in range(self.n):
                d[i]=random.choice(x)
            while(True):
                d1={}
                c=[0]*self.n
                for j in range(x.shape[0]):
                    l=[]
                    for k in d:
                        l.append([self.distance(x[j],d[k]),k])
                    l.sort(key=lambda p:p[0])
                    self.labels[j]=l[0][1]
                for j in range(self.n):
                    d1[j]=np.array([0.0]*x.shape[1])
                for j in range(x.shape[0]):
                    v=self.labels[j]
                    d1[v]+=x[j]
                    c[v]+=1
                for j in range(self.n):
                    if(c[j]!=0):
                        d1[j]/=c[j]
                    else:
                        print(d1[j],c[j])
                b1=0
                for j in d:
                    if((d[j]==d1[j]).sum()==len(d[j])):
                        b1+=1
                if(b1==self.n):
                    break
                else:
                    d=d1
            var1=0
            for j in range(x.shape[0]):
                v=self.labels[j]
                var1+=self.distance(x[j],d[v])
            if(var1<var):
                self.best=d 
                self.best_labels=self.labels
                var=var1

In [14]:
model=Kmeans(n=3) # Creating the object
model.fit(df.values) # training it on our data

In [15]:
# Cluster centers of the data
model.best

{0: array([5.9016129 , 2.7483871 , 4.39354839, 1.43387097]),
 1: array([6.85      , 3.07368421, 5.74210526, 2.07105263]),
 2: array([5.006, 3.428, 1.462, 0.246])}