In [21]:
# Importing Necessary modules

import sklearn
from sklearn.metrics import classification_report
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from math import e

In [22]:
# Loading the data

df=pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.csv')
df.columns=list('ABCDEFGHI')
df

      A    B   C   D    E     F      G   H  I
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

Data is already cleaned, so we can directly give it to the model. We can also do preprocessing, to churn out accuracy

In [23]:
x_train,x_test,y_train,y_test=train_test_split(df.drop('I',axis=1),df["I"],test_size=0.2)

In [24]:
x_train

      A    B   C   D    E     F      G   H
754   1  128  88  39  110  36.5  1.057  37
35   11  138  76   0    0  33.2  0.420  35
136   0   93  60  25   92  28.7  0.532  22
38    4  111  72  47  207  37.1  1.390  56
84    2  110  74  29  125  32.4  0.698  27
..   ..  ...  ..  ..  ...   ...    ...  ..
114   4  146  92   0    0  31.2  0.539  61
345   1  139  46  19   83  28.7  0.654  22
460   1   71  62   0    0  21.8  0.416  26
469   1  144  82  40    0  41.3  0.607  28
567   4  154  72  29  126  31.3  0.338  37

[613 rows x 8 columns]

In [25]:
x_test

     A    B    C   D    E     F      G   H
134  2  125   60  20  140  33.8  0.088  31
389  1  100   66  29  196  32.0  0.444  42
128  0  105   84   0    0  27.9  0.741  62
207  1   96   64  27   87  33.2  0.289  21
76   5   95   72  33    0  37.7  0.370  27
..  ..  ...  ...  ..  ...   ...    ...  ..
42   9  171  110  24  240  45.4  0.721  54
96   1   71   48  18   76  20.4  0.323  22
715  3  173   78  39  185  33.8  0.970  31
236  0  179   90  27    0  44.1  0.686  23
479  3  158   70  30  328  35.5  0.344  35

[154 rows x 8 columns]

In [26]:
# Scaling the data so that every feature has equal importance

scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [27]:
class LogisticRegression:
    
    # sigmoid activation function
    def sig(self,x):
        return 1/(1+(e**(-x)))
    
    # training the model
    def fit(self,a,b):
        o=np.ones(a.shape[0]).reshape(-1,1)
        a=np.concatenate((o,a),axis=1)
        self.c=[0]*(a.shape[1])
        m=len(b)
        al=0.001 #learning_rate
        for _ in range(1500): #1500 epochs
            pred=self.sig(a.dot(self.c))
            loss=pred-b
            self.c-=(al/m)*a.T.dot(loss)
          
    # predicting on new data
    def predict(self,x):
        o=np.ones(x.shape[0]).reshape(-1,1)
        x=np.concatenate((o,x),axis=1)
        y=self.sig(x.dot(self.c))
        l=[0 if i<=0.5 else 1 for i in y]
        return np.array(l)

In [28]:
model=LogisticRegression()
model.fit(x_train,y_train)

In [29]:
#Coefficients of the best fit line

model.c

array([-0.20198706,  0.10871109,  0.25681287,  0.01816134,  0.03187081,
        0.05687848,  0.15871845,  0.08749299,  0.11891946])

In [30]:
y_pred=model.predict(x_test)

In [32]:
# Classification report on the test data

print(classification_report(y_test,y_pred,digits=3))

              precision    recall  f1-score   support

           0      0.743     0.853     0.794        95
           1      0.689     0.525     0.596        59

    accuracy                          0.727       154
   macro avg      0.716     0.689     0.695       154
weighted avg      0.722     0.727     0.718       154